body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1e1e1e;
}

code {
    font-family: 'Latha', sans-serif; 
}
*::-webkit-scrollbar {
  display: none;
}

.ani{
  opacity: 0;
  animation: slideFadeIn 2.5s ease-out forwards;
}

@keyframes slideFadeIn {
  0% {
    opacity: 0;
    transform: translateY(-50px); 
  }
  100% {
    opacity: 1;
    transform: translateY(0); 
  }
}

.pro1{
  opacity: 0;
  animation: slideFadeIn1 5s ease-out forwards;
}

@keyframes slideFadeIn1 {
  0% {
    opacity: 0;
    transform: translateX(-50px); 
  }
  100% {
    opacity: 1;
    transform: translateX(0); 
  }
}
.pro2{
  opacity: 0;
  animation: slideFadeIn2 5s ease-out forwards;
}

@keyframes slideFadeIn2 {
  0% {
    opacity: 0;
    transform: translateX(50px); 
  }
  100% {
    opacity: 1;
    transform: translateX(0); 
  }
}

.divis {
  border-radius: 50px;
  background: rgba(46, 66, 77, 0.1);
  box-shadow: -33.533px 33.533px 33.533px 0px rgba(255, 255, 255, 0.1) inset,
    33.533px -33.533px 33.533px 0px rgba(35, 50, 59, 0.1) inset;
  backdrop-filter: blur(47.28200149536133px);
}